# Created by .ignore support plugin (hsz.mobi)
/practice-project.iml
.idea/libraries/Maven__com_github_hrn_practice_project_project_1_0_SNAPSHOT.xml
.idea/libraries/java_client_3_1_0.xml
.idea/uiDesigner.xml
demo/src/main/java/com/github/hrn/practice/demo/guava/primitives/shorts/
demo/src/main/resources/
demo/src/test/
main/src/test/
practice-project.iml
project/src/main/java/com/github/hrn/practice/project/mapper/
project/src/main/java/com/github/hrn/practice/project/service/
project/src/main/resources/
project/src/test/
target/
/.idea/
/main/main.iml
/project/project.iml
/demo/demo.iml
/practiceproject.iml
