# Created by .ignore support plugin (hsz.mobi)
.idea/.name
.idea/inspectionProfiles/
.idea/workspace.xml
practiceproject.iml
/.idea/
/practice-project.iml
/.gitignore
!/demo/demo.iml
demo/target/
main/target/
project/target/
target/
/demo/demo.iml
/project/project.iml
/main/main.iml
